body{
  display: grid;
  grid-template-areas:
  "t t"
  "n m"
  "f f";
  grid-template-columns: 1fr 6fr;

}

p{
  text-indent: 30px;
  margin-bottom: 1rem;
}

ul, ol{
  margin-left: 1rem;
}

table span{
  font-size: 10rem;
  font-weight: bold;
  color: yellow;
}

table p {
    text-align: justify;
    margin-right: 50px;
}

.topo_pagina{
  grid-area: t;
  background: yellow;
  color: white;
  height: 150px;
  position: relative;
}

.topo_pagina .logo{
  height: 100px;
  width: 100px;
  position: relative;
  top: 20px;
  left: 20px;
}

.topo_pagina .logo a{
  font-family: 'Modak', cursive;
  background: url(../img/logo.png) no-repeat;
  height: 100px;
  width: 100px;
  background-size: cover;
  display: block;
}

.topo_pagina .logo a span{
  display: none;
}

.nav_topo{
  position: absolute;
  right: 10px;
  top: 10px;
}

.nav_topo a{
  color: darkblue;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.nav_topo a:hover{
  text-decoration: underline;
  background-color: white;
}

.nav_topo li{
  display: inline-block;
  margin-left: 150px;
}

.nav_lado{
  grid-area: n;
  background-color: yellow;
}

.nav_lado li{
  margin-top: 10px;
  text-align: center;
}

.nav_lado li a:hover{
  text-decoration: none;
  display: block;
  background-color: white;
}

main{
  grid-area: m;
  background: white;
  padding: 1rem;
}

.rodape{
  grid-area: f;
  background-color: yellow;
  color: darkblue;
  /* padding: 3px; */
  /* position: fixed; */
  top: 50px;
  /* bottom: 50px */
  text-align: center;
}
